@import "tailwindcss";
@import "react-image-crop/dist/ReactCrop.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --radius-2xl: 1.5rem;
  --radius-3xl: 2.5rem;
}

:root {
  --background: #09090b;
  --foreground: #f9fafb;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@layer base {
  * {
    @apply border-zinc-800;
  }
}

@layer utilities {
  .checkerboard {
    background-image: linear-gradient(45deg, #18181b 25%, transparent 25%),
      linear-gradient(-45deg, #18181b 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #18181b 75%),
      linear-gradient(-45deg, transparent 75%, #18181b 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  }
}
